*{padding:0;
margin:0}

.logo{max-width: 100px;
margin: 5px 0px 0px 10px;
padding-bottom: 5px;}
header{background-color: rgb(36, 95, 150);
grid-area: header;}

h1{display: flex;
padding-top: 1vw;
justify-content: center;
background-color: #69bcec;}

.medio{display: flex;
  justify-content: center;
margin: 0px auto;
height: auto;
overflow: auto;
}
.medio li{
  text-align: center;
  list-style: none;
  float: left;
  height: auto;
  overflow: auto;
  margin: 20px;
}
.imgs{width: 220px;
height: 220px;
border: 2px solid black;
padding: 1px;}
body{background-color: #c5eec5;}
footer {margin-top:10vw;
    background-color: #353535;
    color: white; }
    footer .imagen {
      width: 65px;
      margin: 0 0 0 1%;
      display: inline; }
    footer .imagenes {
      display: flex;
      flex-direction: row-reverse;
      margin-right: 1vw; }
li{list-style: none;
font-size: 18px;}
#resp{display: flex;
flex-direction: row-reverse;
margin-right: 20vw;
font-weight: bold;
}

