*{padding:0;
margin:0}

.logo{max-width: 100px;
margin: 5px 0px 0px 10px;
padding-bottom: 5px;}
header{background-color: rgb(36, 95, 150);}

.boton {
  border: 1px solid #000000;
  padding: 10px;
  background-color: #8b2e64;
  color: white;
  text-decoration: none;
  font-family: 'Helvetica', sans-serif;
  border-radius: 10px;
  }

h1{display: flex;
padding-top: 1vw;
justify-content: center;
background-color: #69bcec;}

.medio{display: flex;
  justify-content: center;
margin: 0px auto;
height: auto;
overflow: auto;
}
.medio li{
  text-align: center;
  list-style: none;
  float: left;
  height: auto;
  margin: 20px;
}
.imgs{width: 350px;
height: 350px;
border: 2px solid black;
padding: 1px;}
body{background-color: #949494;}
footer {margin-top:10vw;
    background-color: #353535;
    color: white; }
    footer .imagen {
      width: 65px;
      margin: 0 0 0 1%;
      display: inline; }
    footer .imagenes {
      display: flex;
      flex-direction: row-reverse;
      margin-right: 1vw; }
li{list-style: none;
font-size: 18px;}
#resp{display: flex;
flex-direction: row-reverse;
margin-right: 15vw;
font-weight: bold;}

.right{display: flex;
  flex-direction: row-reverse;
  margin-right: 15vw;
  font-weight: bold;
  margin-bottom: 10px;
  }

p{font-size: 20px;}